@import "@/assets/styles/var.scss";

// Buttons

@mixin mainButton {
  @include adaptiv-font(36, 20);

  background-color: #fff;

  color: #8e9ad5;

  font-family: "Montherat";
  // font-family: Mon; Montherat  скачать
  //   font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 100px;

  margin: 0;
  padding: 27px 0;
  width: 45%;
  max-height: 90px;
  border: none;
  outline: none;

  transition: 0.3s;

  &:hover {
    cursor: pointer;

    transform: translateY(-5px);
  }
}

@mixin additionButton(
  $pcSize: 28,
  $mobSize: 15,
  $width: 29%,
  $height: 90px,
  $background: $grey-gradient
) {
  @include adaptiv-font($pcSize, $mobSize);

  width: $width;
  height: $height;
  border-radius: 100px;

  border: none;
  outline: none;

  color: $main-text;
  font-weight: 700;

  background: $background;
  transition: 0.3s;

  &:hover {
    cursor: pointer;

    transform: translateY(-5px);
  }

  @media screen and (max-width: 900px) {
    height: 10vw;
  }
}

@mixin navButton($background: #fff) {
  width: 70px; //5vw
  height: 70px;
  border-radius: 100%;
  border: none;
  outline: none;
  background: $background;
  transition: 0.3s;

  z-index: 1000;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}

// Font

// ---Delete---

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 768;
  font-size: #{$mobSize + px};

  @media screen and (min-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addSize} * ((100vw - 768px) / #{$maxWidth})
    );
  }
}
