@import "@/assets/styles/var.scss";

// Buttons

@mixin mainButton {
  @include adaptiv-font(36, 20);

  background-color: #fff;

  color: #8e9ad5;
  font-family: "Montherat";
  // font-family: Mon; Montherat  скачать
  //   font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 100px;

  margin: 0;
  padding: 27px 0;
  width: 45%;
  border: none;

  outline: none;

  &:hover {
    cursor: pointer;
  }
}

@mixin gameButton {
  @include adaptiv-font(28, 15);

  width: 29%;
  height: 90px;
  border-radius: 100px;

  border: none;
  outline: none;

  color: $main-text;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

// Font

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 768;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 768px) / #{$maxWidth})
  );
}
