@import "@/assets/styles/var.scss";
@import "@/assets/styles/mixxins.scss";
@import "./fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
